.container-document {
    width: 1000px;
    /*height: 400px;*/
    text-align: left;
    margin:  10px auto 50px auto;
    align-items: center;
    box-shadow: 0 3px 15px 1px rgb(0 0 0  / 15%);
    padding: 20px 50px 20px 50px;
    overflow: scroll;
}

.title-document {
    text-align: center;
    margin-bottom: 20px;
}